/* CUSTOM FONTS */

@font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Italic';
    src: url('/fonts/raleway-italic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bangers';
    src:    url('/fonts/bangers.ttf'),
            url('/fonts/bangers.woff2') format('woff2'),
            url('/fonts/bangers.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yanone';
    src:    url('/fonts/yanone.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Heading';
    src:    url('/fonts/futura-cond-medium-oblique.otf'),
            url('/fonts/futura-cond-medium-oblique.woff2') format('woff2'),
            url('/fonts/futura-cond-medium-oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/* GLOBAL STYLE */

:root {

    /* COLORS */
    --main-bg-col: var(--ci-dark-blue);
    --main-text-col: var(--ci-white);
    --secondary-text-col: var(--ci-grey);
    --accent-col: var(--ci-pink);
    --accent-col-shade: var(--ci-pink-shade);

    --link-col: var(--accent-col);
    --link-hover-col: var(--accent-col-shade);

    --main-bg-gradient: var(--grad-r-dark-blue-top-left);
    --bg-gradient: var(--grad-r-dark-blue-center);
    --rainbow-gradient: var(--grad-l-rainbow);
    --rainbow-gradient-vertical: var(--grad-l-rainbow-vertical);
    --austria-gradient: var(--grad-l-austria);
    --title-gradient: var(--rainbow-gradient);

    --scrollbar-background: var(--main-bg-col);
    --scrollbar-foreground: var(--accent-col-shade);

    /* FONTS */
    --font-normal: 'Raleway', Tahoma, Verdana, Arial, sans-serif;
    --font-heading: 'Futura Heading', 'Raleway', Tahoma, Verdana, Arial, sans-serif;

    /* NAVBAR */
    --navbar-height: 12vh;
}

html {
    font-family: var(--font-normal);
}

body {
    background-color: var(--main-bg-col);
    background-image: var(--main-bg-gradient);
    background-attachment: fixed;
    color: var(--main-text-col);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;

    scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}

body::-webkit-scrollbar {
    position: fixed;
    width: 7px; /* Mostly for vertical scrollbars */
    height: 7px; /* Mostly for horizontal scrollbars */
}

body::-webkit-scrollbar-thumb { /* Foreground */
    background: var(--scrollbar-foreground);
    border-radius: 1rem;
}

body::-webkit-scrollbar-track { /* Background */
    background: var(--scrollbar-background);
}

h1, .h1 {
    font-family: var(--font-heading);
    font-size: 6rem;
    line-height: 6rem;
    margin-bottom: 2rem;
    font-weight: 500;
    overflow-wrap: break-word;
}

h2, .h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid var(--secondary-text-col);
    overflow-wrap: break-word;
}

a {
    color: var(--link-col);
    text-decoration: none;
    border-bottom: 2px solid var(--link-col);

    transition: color 150ms ease-out, border 150ms ease-out;
}

a:hover, a:active {
    color: var(--link-hover-col);
    border-color: var(--link-hover-col);
}

.austria {
    background-image: var(--austria-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rainbow {
    background-image: var(--rainbow-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: red;
}

@media screen and (max-width: 768px){
    html {
        font-size: .8em;
    }

    h1, .h1 {
        font-size: 4rem;
        line-height: 4rem;
        margin-bottom: 1.5rem;
    }

    h2, .h2 {
        font-size: 2rem;
        line-height: 2rem;
    }

    h3, .h3 {
        font-size: 1.6rem;
        line-height: 1.6rem;
    }
}