:root {
    --ci-dark-blue: rgb(0, 4, 35);
    --ci-white: rgb(245, 245, 245);
    --ci-grey: rgb(101, 108, 134);
    --ci-dark-grey: rgb(30, 31, 42);
    --ci-pink: rgb(244, 63, 184);
    --ci-pink-shade: rgb(167, 43, 126);

    --grad-r-dark-blue-top-left: radial-gradient(ellipse at top left, rgb(0, 5, 43) 10%, rgb(0, 2, 17) 70%);
    --grad-r-dark-blue-center: radial-gradient(ellipse at center, var(--ci-dark-blue), rgba(0, 4, 35, 0.95) 40%, rgba(0, 4, 35, 0.8));
    --grad-l-rainbow: linear-gradient(90deg, #A81B79, #F5DE58, #27EEF5, #23A4A8);
    --grad-l-rainbow-vertical: linear-gradient(to bottom, #A81B79, #F5DE58, #27EEF5, #23A4A8);
    --grad-l-austria: linear-gradient(to bottom, red 45%, white 45%, white 67%, red 67%);
}